@model RoleViewModel





<div class="form-group my-3">
    <label asp-for="RoleName" class="col-form-label"></label>
    <input type="text" asp-for="RoleName" class="form-control" readonly />
</div>




