
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_Authlayout.cshtml";
}

<h1>CheckYourInbox</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <div>
            <p>Password Reset link has been send to your email . please check your inbox . </p>
        </div>
        <div>
            <a href="Https://mail.google.com/mail/u/0/#inbox">Your Inbox</a>
        </div>

    </div>
</div>